<div class="wrapper relative">

    <div class="loader">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif" alt="Loading...">
    </div>

    <input type="text" id="searchloc" class="searchbox">
    <button class="searchBtn">Search<button>

    <form id="locDetails" class="hide">
        Latitude:   <input name="lat" id="lat" type="text" value=""><br/>
        Longitude:  <input name="lng" id="lng" type="text" value=""><br/>
        Address:    <input name="formatted_address" type="text" value=""><br/>
    </form>

    <div id="my_map"></div>

</div>